[submodule "workspaces-grub-theme"]
	path = workspaces-grub-theme
	url = https://github.com/herculean-inc/workspaces-grub-theme.git
[submodule "workspaces-iso"]
	path = workspaces-iso
	url = https://github.com/herculean-inc/workspaces-iso.git
[submodule "workspaces-material-shell"]
	path = workspaces-material-shell
	url = https://github.com/herculean-inc/workspaces-material-shell.git
[submodule "workspaces-desktop"]
	path = workspaces-desktop
	url = https://github.com/herculean-inc/workspaces-desktop.git
[submodule "workspaces-session"]
	path = workspaces-session
	url = https://github.com/herculean-inc/workspaces-session.git
[submodule "workspaces-wallpapers"]
	path = workspaces-wallpapers
	url = https://github.com/herculean-inc/workspaces-wallpapers.git
[submodule "workspaces-default-settings"]
	path = workspaces-default-settings
	url = https://github.com/herculean-inc/workspaces-default-settings.git
